<ion-header>
  <ion-toolbar>
    <div>
      <ion-title>Carrello</ion-title>
    </div>
  </ion-toolbar>
</ion-header>


  <!--
    <div id="prodakt" *ngFor="let product of this.central.products" style="color: white; cursor: pointer;">
      <ion-row style="line-height: 25px; margin-bottom: 1em; border-radius: 15px;">
        <div id="prodakt-bg">
          <div [routerLink]="['/nuovapagina', product.id]" style="width: 80%; align-self: center;">
            <div style="display: flex;">
              <span id="nameProduct" style="text-transform: capitalize;">{{ product.productName }} </span>
              <span style="font-size: 70%; color: yellow; margin-left: 5px;">{{ product.unitCost }}€</span>
            </div>
            <span style="text-transform: capitalize; font-size: 12px;">iD: {{ product.id }}</span>
          </div>
          <div style="width: 200px; display: flex; justify-content: space-around; align-items: center; background-color: rgba(255, 255, 255, 0.575); border-radius: 15px; height: 30px;">
            <ion-icon routerLink="/detail" routerLinkActive="active" style="border: 1px solid white; cursor: pointer; background-color: rgb(0, 236, 91); padding: 10px; border-radius: 50%; width: 20px; height: 20px;"
            name="information-circle-outline" (click)="this.central.info(product.id)"></ion-icon>
            <ion-icon [routerLink]="['/update', product.id]" style="border: 1px solid white; cursor: pointer; background-color: rgb(157, 0, 255); padding: 10px; border-radius: 50%; width: 20px; height: 20px;"
              name="pencil-outline"></ion-icon>
              <ion-icon style="border: 1px solid white; cursor: pointer;background-color: red; padding: 10px; border-radius: 50%; width: 20px; height: 20px;" name="close-sharp" (click)="this.central.deleteHandler(product.id)" onclick="areUsure()"></ion-icon>
            </div>
          </div>
        </ion-row>
      </div>
    </div>
-->
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; overflow:scroll;">
  <div id="container-list" style="padding: 1em; width: 100%;">
    <ion-row style="display: flex; justify-content: end;">
      <button style="align-self: start; display: flex; align-items: center; margin-top: 150px;" id="crea"
        routerLink="/new" routerLinkActive="active"><ion-icon style="font-size: 150%;" name="add-circle-outline"></ion-icon></button>
    </ion-row>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-row style="display: flex; justify-content: end;">
              <div class="label">Nome</div>
            </ion-row>
            <div *ngFor="let product of this.central.products" style="display: flex; justify-content: end;">
              <div class="table-box" [routerLink]="['/nuovapagina', product.id]">
                <span>{{ product.productName }}</span>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <ion-row style="display: flex; justify-content: end;">
              <div style="margin-right: 50px;" class="label">Categoria</div>
            </ion-row>
            <div *ngFor="let product of this.central.products" style="display: flex; justify-content: center;">
              <!-- <div style="height: 10px; background-color: blue; width: 30%;"></div> -->
              <div class="table-box" [routerLink]="['/nuovapagina', product.id]">
                <span>{{ product.category }}</span>
              </div>
              <!-- <div style="height: 10px; background-color: blue; width: 30%;"></div> -->
            </div>
          </ion-col>
          <ion-col>
            <ion-row style="display: flex; justify-content: start;">
              <div class="label">Quantità</div>
            </ion-row>
            <div *ngFor="let product of this.central.products" style="display: flex; align-items: start; justify-content: start;">
              <div class="table-box" [routerLink]="['/nuovapagina', product.id]">
                <span>{{ product.quantity }}</span>
              </div>
              <div style="display: flex; flex-direction: column;">
                <ion-icon id="new-x" name="close-sharp" (click)="this.central.deleteHandler(product.id)"></ion-icon>
                <ion-icon id="new-pencil" [routerLink]="['/update', product.id]" name="pencil-outline"></ion-icon>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>


  </div>

