<ion-header>
  <ion-toolbar>
    <ion-title>Dettaglio prodotto</ion-title>
  </ion-toolbar>
</ion-header>

<div id="container-list" style="height: 100%;">
  <button id="indietro" routerLink="/nuovapagina" routerLinkActive="active">
    <ion-icon name="chevron-back-outline"></ion-icon>indietro
  </button>

  <div style="width: 400px; height: 400px; background-color: white; border-radius: 15px; margin-left: 1em;">
    <div *ngIf="central.infoProd !== null" class="ion-padding info-product-detail" style="text-align: center; text-transform: capitalize;">
      <ion-row>
        <span class="detail-span-bold">nome:&nbsp;</span>
        <span>{{central.infoProd.data.productName}}</span>
      </ion-row>
      <ion-row>
        <span class="detail-span-bold">categoria:&nbsp;</span>
        <span>{{central.infoProd.data.category}}</span>
      </ion-row>
      <ion-row>
        <span class="detail-span-bold">quantità:&nbsp;</span>
        <span>{{central.infoProd.data.quantity}}</span>
      </ion-row>
      <ion-row>
        <span class="detail-span-bold">costo:&nbsp;</span>
        <span>{{central.infoProd.data.unitCost}}</span>
      </ion-row>
      <ion-row>
        <span class="detail-span-bold">data dell' ordine:&nbsp;</span>
        <span>{{central.infoProd.data.orderDate}}</span>
      </ion-row>
    </div>
  </div>

</div>

  <!--
  <div style="display: flex; position: relative; margin-bottom: 0.3em;">
    <span>{{ product.productName }}</span>
  </div>
  <div style="display: flex; position: relative; margin-bottom: 0.3em;">
    <span>{{ product.quantity }}</span>
  </div>
  <div style="display: flex; position: relative; margin-bottom: 0.3em;">
    <span>{{ product.unitCost }}€</span>
  </div>
  <div style="display: flex; position: relative; margin-bottom: 0.3em;">
    <span>{{ product.orderDate }}</span>
  </div>
  -->
